In [163]:
# Explorartory Data Analysis 
# importing libraries
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [164]:
df = pd.read_csv("covid_19_data.csv")
df.columns # Check all the feature names.

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [165]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [166]:
# check for duplicated values
print(df.duplicated().sum())

0

In [167]:
# checking for all unique values in country
df["Country/Region"].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'China', 'Kiribati', 'Singapore',
       'Philippines', 'Malaysia', 'Vietnam', 'Australia', 'Mexico',
       'Brazil', 'Colombia', 'France', 'Nepal', 'Canada', 'Cambodia',
       'Sri Lanka', 'Ivory Coast', 'Germany', 'Finland',
       'United Arab Emirates', 'India', 'Italy', 'UK', 'Russia', 'Sweden',
       'Spain', 'Belgium', 'Others', 'Egypt', 'Iran', 'Israel', 'Lebanon',
       'Iraq', 'Oman', 'Afghanistan', 'Bahrain', 'Kuwait', 'Austria',
       'Algeria', 'Croatia', 'Switzerland', 'Pakistan', 'Georgia',
       'Greece', 'North Macedonia', 'Norway', 'Romania', 'Denmark',
       'Estonia', 'Netherlands', 'San Marino', ' Azerbaijan', 'Belarus',
       'Iceland', 'Lithuania', 'New Zealand', 'Nigeria', 'North Ireland',
       'Ireland', 'Luxembourg', 'Monaco', 'Qatar', 'Ecuador',
       'Azerbaijan', 'Czech Republic', 'Armenia', 'Dominican Republic',
       'Indonesia', 'Portugal', 'Andorra', 'Latvia', 'Morocco',
       'Saudi Arabia', 'Senegal', 'Argentina', 'Chile', 'Jordan',
       'Ukraine', 'Saint Barthelemy', 'Hungary', 'Faroe Islands',
       'Gibraltar', 'Liechtenstein', 'Poland', 'Tunisia', 'Palestine',
       'Bosnia and Herzegovina', 'Slovenia', 'South Africa', 'Bhutan',
       'Cameroon', 'Costa Rica', 'Peru', 'Serbia', 'Slovakia', 'Togo',
       'Vatican City', 'French Guiana', 'Malta', 'Martinique',
       'Republic of Ireland', 'Bulgaria', 'Maldives', 'Bangladesh',
       'Moldova', 'Paraguay', 'Albania', 'Cyprus', 'St. Martin', 'Brunei',
       'occupied Palestinian territory', "('St. Martin',)",
       'Burkina Faso', 'Channel Islands', 'Holy See', 'Mongolia',
       'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)', 'Jamaica',
       'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Samoa', 'Syria', 'Timor-Leste', 'Belize',
       'Laos', 'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho', 'Solomon Islands', 'Marshall Islands',
       'Vanuatu', 'Micronesia'], dtype=object)

In [168]:
df["Country/Region"].value_counts()

Russia                 30251
US                     26740
Japan                  18059
Mainland China         15758
India                  13182
                       ...
 Azerbaijan                1
North Ireland              1
Republic of Ireland        1
Cape Verde                 1
East Timor                 1
Name: Country/Region, Length: 229, dtype: int64

In [169]:
# checking for null values
df.isnull().sum()

SNo                    0
ObservationDate        0
Province/State     78100
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64

In [170]:
#replace nan values with 0
df.replace(np.nan,"0",inplace = True)

In [171]:
df.isnull().sum()

SNo                0
ObservationDate    0
Province/State     0
Country/Region     0
Last Update        0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   306429 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [173]:
df2 = df[df["Deaths"] > 20000]
df2

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
14791,14792,04/13/2020,0,Italy,2020-04-13 23:15:42,159516.0,20465.0,35435.0
15115,15116,04/14/2020,0,Italy,2020-04-14 23:41:11,162488.0,21067.0,37130.0
15439,15440,04/15/2020,0,Italy,2020-04-15 23:04:26,165155.0,21645.0,38092.0
15763,15764,04/16/2020,0,Italy,2020-04-16 23:38:19,168941.0,22170.0,40164.0
16087,16088,04/17/2020,0,Italy,2020-04-17 23:38:48,172434.0,22745.0,42727.0
...,...,...,...,...,...,...,...,...
306292,306293,05/29/2021,Sao Paulo,Brazil,2021-05-30 04:20:55,3254893.0,111123.0,2895697.0
306330,306331,05/29/2021,Tamil Nadu,India,2021-05-30 04:20:55,2039716.0,23261.0,1706298.0
306337,306338,05/29/2021,Texas,US,2021-05-30 04:20:55,2952861.0,51491.0,0.0
306362,306363,05/29/2021,Unknown,Belgium,2021-05-30 04:20:55,20219.0,24921.0,0.0
306377,306378,05/29/2021,Uttar Pradesh,India,2021-05-30 04:20:55,1688152.0,20208.0,1621743.0

In [174]:
df2.shape

(5494, 8)

In [175]:
df2.value_counts().sum()

5494

In [176]:
df3 = df2[df2["Country/Region"] == "India"]
df3.value_counts().sum()

334

In [177]:
df4 = df3[df3["Province/State"] == "Tamil Nadu"]
df4.value_counts().sum()

8

In [178]:
df4.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
300975,300976,05/22/2021,Tamil Nadu,India,2021-05-23 04:20:51,1806861.0,20046.0,1502537.0
301740,301741,05/23/2021,Tamil Nadu,India,2021-05-24 04:20:53,1842344.0,20468.0,1527733.0
302505,302506,05/24/2021,Tamil Nadu,India,2021-05-25 04:21:08,1877211.0,20872.0,1554759.0
303270,303271,05/25/2021,Tamil Nadu,India,2021-05-26 04:20:35,1911496.0,21340.0,1583504.0
304035,304036,05/26/2021,Tamil Nadu,India,2021-05-27 04:20:59,1945260.0,21815.0,1613221.0

In [179]:
df['Province/State'].describe()

count     306429
unique       738
top            0
freq       78100
Name: Province/State, dtype: object

In [180]:
# Correlation matrix
df.corr()

                SNo  Confirmed    Deaths  Recovered
SNo        1.000000   0.237319  0.197038   0.190511
Confirmed  0.237319   1.000000  0.888416   0.633479
Deaths     0.197038   0.888416  1.000000   0.538416
Recovered  0.190511   0.633479  0.538416   1.000000